<div class="main">

  <div class="center">
    <div class="left-panel">
      <div class="text-container">
        <p>Valid from: {{ data.text1 }}</p>
        <p>Valid to: {{ data.text2 }}</p>
        <p>Certificate type: {{ data.text3 }}</p>
        <p>Certificate status: {{ data.text4 }}</p>
      </div>
      <div class="link-container">
        <a href="#">View details</a>
      </div>
    </div>
    <div class="right-panel">
      <button>Accept</button> <br />
      <button>Cancel</button>
    </div>
  </div>

  <div class="center">
    <div class="left-panel">
      <div class="text-container">
        <p>Valid from: {{ data.text1 }}</p>
        <p>Valid to: {{ data.text2 }}</p>
        <p>Certificate type: {{ data.text3 }}</p>
        <p>Certificate status: {{ data.text4 }}</p>
      </div>
      <div class="link-container">
        <a href="#">View details</a>
      </div>
    </div>
    <div class="right-panel">
      <button>Accept</button> <br />
      <button>Cancel</button>
    </div>
  </div>

  <div class="center">
    <div class="left-panel">
      <div class="text-container">
        <p>Valid from: {{ data.text1 }}</p>
        <p>Valid to: {{ data.text2 }}</p>
        <p>Certificate type: {{ data.text3 }}</p>
        <p>Certificate status: {{ data.text4 }}</p>
      </div>
      <div class="link-container">
        <a href="#">View details</a>
      </div>
    </div>
    <div class="right-panel">
      <button>Accept</button> <br />
      <button>Cancel</button>
    </div>
  </div>



</div>


